@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* partie header */


.background {
    background-image: url(src/images/bg.jpg);
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
}



header{
    display: flex;
    align-items: center;
    gap: 1%;
    padding: 1%;
}




.a-block {
    display: flex;
    gap: 1px;
}

.a-block a {
    text-decoration: none;
    color: #ffff;
    padding: 10px 15px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}



/* partie text en dessous du header  */
.textt{
    display: flex;
   margin-left: 5%;
padding-top: 5%;   

}


.textt h1{
    color: #ffff;
    font-size: 120px;
    font-weight: bolder;
  
}



.scroll{
    padding-top: 5%;
    margin-left: 3%;
    margin-top: 15%;
}

.scroll h3{
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* fin de code */


/* partie main */

.main{
    padding: 3%;
}

/* fin du code  */


/* 1ere section */

.section-un{
    display: flex;
   text-align: center;
   gap: 9%;
   justify-content: center;
   
}


.p-sectionun{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 5%;
}

.fa-store{
  color: #add980;
  font-size: 20px;
}


.fa-truck-moving{
    color: #add980;
  font-size: 20px;
}

/* fin de code  */

/* partie section 2 */


.sectiondeux{
    padding: 8%;
    margin-left: 15%;
    
}

.h2-sectiondeux{
    font-family: "DM Serif Display", serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 35px;
  
}


.boite-card{
    display: flex;
    margin-top: 2%;
}



.card {
    background-image: url('src/images/nos_meilleures_ventes/1.jpg');
    height: 50vh;
    width: 30vw;
    background-repeat: no-repeat;
    background-size: 43% ; /* L'image sera redimensionnée pour être entièrement visible */
    background-position: center; /* Centre l'image dans la carte */
    border-radius: 8px; /* Ajoute des bords arrondis (optionnel) */
    overflow: hidden; /* Cache les débordements pour les bords arrondis */
}

.bg-color {

    background-color: #e9eaec;
    margin-top: 63%;
    width:  150px;
    margin-left: 29%;
   height: auto;
}
    






/* fin du code */